a {
    font-weight: 600;
    text-decoration: none;
    font-size: .85em;
    color: rgb(71, 71, 238);
}
.forget-password-link {
    text-align: right;}

.given-email {
    font-weight: 600;
}
.given-email a {
    display: initial;
    width: initial;
}
.password-text {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}