{% extends '_base.html' %}
{% load static humanize %}

{% block content %}
    <div class="nav-toggle-bar">
        <button role="button" class="toggle-nav-button flex centered" data-nav-visible="false">
            <i class="fa fa-bars" style="color: white;"></i>
        </button>
    </div>
    <header>
        <nav class="primary-navigation" data-visible="false">
            <ul>
                <li><a href="#"><i class="fa fa-female"></i>Health & Beauty</a></li>
                <li><a href="#"><i class="fa fa-laptop"></i>Computing</a></li>
                <li><a href="#"><i class="fa fa-mobile-phone"></i>Phones & Tablets</a></li>
                <li><a href="#"><i class="fa fa-tv"></i>Electronics</a></li>
                <li><a href="#"><i class="fa fa-shirt"></i>Fashion</a></li>
                <li><a href="#"><i class="fa fa-gamepad"></i>Gaming</a></li>
                <li><a href="#"><i class="fa fa-home"></i>Home & Office</a></li>
                <li><a href="#"><i class="fa fa-soccer-ball"></i>Sporting Goods</a></li>
            </ul>
        </nav>
        <div class="featured-box">
            <button type="button" class="carousel-button" id="next-button"><i class="fa fa-angle-right flex centered"></i></button>
            <button type="button" class="carousel-button" id="prev-button"><i class="fa fa-angle-left flex centered"></i></button>
            {% for product in featured_products %}
            <div class="featured-image-container" id="featured-image-first">
                <img src="{{ product.product.image_set.first.image.url }}" class="featured-image" alt="">
            </div>
            {% comment %} <div class="featured-image-container" id="featured-image-second">
                <img src="./s1.jpg" class="featured-image" alt="">
            </div>
            <div class="featured-image-container" id="featured-image-third">
                <img src="./sh2.jpg" class="featured-image" alt="">
            </div> {% endcomment %}
            {% endfor %}
        </div>
        <div class="box box-one flex flex-column centered">
            <p>Sign in to start buying</p>
            <a href="#" class="button sign-in-button">
                Sign In
            </a>
        </div>
        <div class="box box-two"></div>
    </header>

    <main>
        <div class="items-wrapper">
            <div class="group group-header flex space-between align-center">
                <h3>Top Deals</h3>
                <a href="#">SEE ALL <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="items-card-container">
            {% for product in products %}
                <a href="{{ product.get_absolute_url }}" class="item-card discounted">
                    <p class="dicount-percentage">-20%</p>
                    <div class="image" style="height: 200px; background-color: grey;">
                        <img src={{ product.image_set.first.image.url }} alt="">
                    </div>
                    <div class="info">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="rating">
                            <div class="rating flex align-center">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </div>
                                <span class="average-rating">{{ product.rating }}</span>
                                <span class="num-reviews">
                                {% if product.num_reviews == 0 %}
                                no reviews yet
                                {% else %}
                                    {{ product.num_reviews }}
                                {% endif %}
                                </span>
                            </div>
                            <p class="price original-price">$<span>{{ product.price|intcomma }}</span></p>
                            <p class="price discounted-price">{{ product.price|intcomma }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <div class="group group-footer flex justify-end">
                <a href="#" class="see-all-link-bottom flex">SEE ALL <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    {% for category in categories %}
    {% if category.product_set.count >= 4 %}
        <div class="items-wrapper">
            <div class="group group-header flex space-between align-center">
                <h3>{{ category.name|capfirst }}</h3>
                <a href="#">SEE ALL <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="items-card-container">
            {% for product in category.product_set.all|slice:":4" %}
                <a href="{{ product.get_absolute_url }}" class="item-card">
                    <div class="image" style="height: 200px; background-color: grey;">
                        <img src="{{ product.image_set.first.image.url }}" alt="">
                    </div>
                    <div class="info">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="rating">
                            <div class="rating flex align-center">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </div>
                                <span class="average-rating">{{ product.rating }}</span>
                                <span class="num-reviews">
                                {% if product.num_reviews == 0 %}
                                no reviews yet
                                {% else %}
                                    {{ product.num_reviews }}
                                {% endif %}
                                </span>
                            </div>
                            <p class="price">$<span>{{ product.price|intcomma }}</span></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <div class="group group-footer flex justify-end">
                <a href="#" class="see-all-link-bottom flex">SEE ALL <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </main>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/nav-toggle.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    
    <script src="{% static 'js/reviews.js' %}"></script>
{% endblock javascript %}