{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/login-password.css' %}">
</head>
<body>
    

    {% comment %} <div class="container">
        <h2 class="logo">ezone</h2>
        <form method="POST" class="sign-in-form">{% csrf_token %}
            <h1>Sign In</h1>
            <p class="given-email">smartlife1267@gmail.com <a href="{% url 'login-email' %}" class="change-password">Change</a></p>
            <div class="password-text">
                <label for="password">Password</label>
                <a href="#" class="forget-password-link">Forgot your password?</a>
            </div>
            <input type="password" name="password" id="password" autofocus>
            <input type="submit" value="Sign In">
        </form>

    </div> {% endcomment %}
    <div class="container">
        <h2 class="logo">ezone</h2>
        <form method="POST" class="sign-in-form">{% csrf_token %}
            <h1>Sign In</h1>
            {% if messages %}
            {% for message in messages %}
            <p class="error-message">{{ message }}</p>
            {% endfor %}
            {% endif %}
            <p class="given-email">{{ email }} <a href="{% url 'login-email' %}" class="change-password">Change</a></p>
            <div class="password-text">
                <label for="password">Password</label>
                <a href="{% url 'password-reset' %}" class="forget-password-link">Forgot your password?</a>
            </div>
            <input type="password" name="password" id="password" autofocus>
            <input type="submit" value="Sign In">
        </form>

    </div>
    {% comment %} <form method="POST">{% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Sign In"> {% endcomment %}
    </form>

</body>
</html>
